apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: flask
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: flask
  namespaceSelector:
    matchNames:
      - default
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
