apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: monitoring-helm-role
  namespace: monitoring
rules:
  # Helm needs to read & manage these core objects
  - apiGroups: [""]
    resources:
      - serviceaccounts
      - secrets
      - configmaps
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  # Helm-managed workload resources
  - apiGroups: ["apps"]
    resources:
      - deployments
      - statefulsets
      - daemonsets
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  # Services
  - apiGroups: [""]
    resources:
      - services
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete
