apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: monitoring-helm-role
  namespace: monitoring
rules:
  - apiGroups: [""]
    resources:
      - secrets
      - configmaps
      - services
      - endpoints
      - pods
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
      - delete

  - apiGroups: ["apps"]
    resources:
      - deployments
      - statefulsets
      - daemonsets
    verbs: ["*"]

  - apiGroups: ["monitoring.coreos.com"]
    resources:
      - servicemonitors
      - podmonitors
      - prometheusrules
    verbs: ["*"]
