name: Deploy Monitoring

on:
  workflow_dispatch:

env:
  AWS_REGION: us-east-1
  CLUSTER_NAME: eks-cluster

jobs:
  deploy-monitoring:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      # 1. Checkout repository
      - name: Checkout repo
        uses: actions/checkout@v4
      # 2. Assume monitoring IAM role
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::174512274809:role/kubernetes-ci-monitoring-role
          aws-region: us-east-1
      # 3. Configure kubectl (EKS API access)
      - name: Update kubeconfig
        run: |
          aws eks update-kubeconfig \
          --name $CLUSTER_NAME \
          --region $AWS_REGION
      # 4. Install Helm
      - name: Install Helm
        uses: azure/setup-helm@v4
      # 5. Add Prometheus Helm repository
      - name: Add Helm repo
        run: |
          helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
          helm repo update
      # 6. Deploy kube-prometheus-stack
      - name: Deploy monitoring stack
        run: |
          helm upgrade --install monitoring \
            prometheus-community/kube-prometheus-stack \
            --namespace monitoring \
            --set crds.enabled=false \
            --create-namespace \
            -f k8s/monitoring/values.yaml
      # 7. ServiceMonitoring
      - name: Apply ServiceMonitors
        run: kubectl apply -f k8s/monitoring/servicemonitors/
      # 8. Apply alerts
      - name: Apply alert rules
        run: kubectl apply -f k8s/monitoring/alerts/
