name: Deploy Infrastructure

permissions:
  id-token: write
  contents: read

on:
  workflow_dispatch:

jobs:
  infra:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::174512274809:role/kubernetes-ci-infra-role
          aws-region: us-east-1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6
      
      - name: Make deploy script executable
        run: chmod +x scripts/deploy-infra.sh
      
      - name: Deploy infrastructure
        run: ./scripts/deploy-infra.sh
